.image-logo {
  width: 160px;
  height: 60px;
  filter: drop-shadow(2px 2px 5px black);
  @media screen {
    @media (max-width: 1200px) {
      width: 230px;
    }
    @media (max-width: 993px) {
      width: 50px;
    }
  }
}

.link-hover {
  //para criar o efeito hover do risco
  margin: 15px;
  text-transform: uppercase;
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.link-hover:hover {
  transform: scale(1.5); //cria efeito de aumentar
}

.link-hover::after {
  //para criar o efeito hover do risco
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.link-hover:hover::after {
  //para criar o efeito hover do risco
  transform: scaleX(1);
}

.data h4 {
  font-size: 15px;
}

.bg-new {
  background-color: rgb(181, 23, 23);
}

.footer-1 {
  color: #000;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.position-header {
  display: grid;
  gap: 100px;
  grid-template-areas: "data tema";

  @media screen {
    @media (max-width: 991px) {
      gap: 10px;
    }
  }
}

.data {
  width: 100px;
  color: #000;
}

.theme {
  font-size: 12px;
  width: 85px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(46, 42, 42);
  @media screen {
    @media (max-width: 768px) {
      width: 80px;
      font-size: 11px;
    }
    @media (max-width: 580px) {
      width: 75px;
      font-size: 11px;
    }
    @media (max-width: 425px) {
      width: 70px;
      font-size: 10px;
    }
    @media (max-width: 320px) {
      width: 70px;
      font-size: 10px;
      margin-top: 10px;
    }
  }
}
