@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");
/*font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;*/

.my-container {
  background-color: #1a1717;
  min-height: 100vh;
  color: #fff;
}

.my-container-light {
  color: #000;
  background-color: #fff;
}

.section-index {
  margin-top: 110px;
  margin-bottom: 50px;
  @media screen {
    @media (max-width: 993px) {
      margin-top: 30px;
    }
    @media (max-width: 320px) {
      margin-top: 80px;
    }
  }
}

.imagem-index {
  border-radius: 80%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  @media screen {
    @media (max-width: 993px) {
      width: 200px;
      height: 200px;
    }
    @media (max-width: 768px) {
      width: 190px;
      height: 190px;
    }
    @media (max-width: 425px) {
      width: 168px;
      height: 168px;
    }
    @media (max-width: 320px) {
      width: 150px;
      height: 150px;
    }
  }
}

.imagem-index:hover {
  box-shadow: 0 0 90px rgb(199, 196, 196);
}
.imagem-index img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-title {
  margin-top: 38px;

  font-size: 80px;
  font-family: "Satisfy", cursive, Arial, Helvetica, sans-serif;
  @media screen {
    @media (max-width: 993px) {
      margin-top: 20px;
      font-size: 70px;
    }
    @media (max-width: 645px) {
      font-size: 55px;
      text-align: center;
    }
    @media (max-width: 425px) {
      font-size: 45px;
      text-align: center;
    }
    @media (max-width: 320px) {
      margin-top: 20px;
      font-size: 40px;
      text-align: center;
    }
  }
}

.sub-title {
  border-right: 2px solid rgba(255, 255, 255, 0.75); //cursor da animação
  white-space: nowrap; //não quebrar a linha na animação
  overflow: hidden; //se não tem a largura vai esconder o que esta fora
  width: 300px;
  margin-top: 60px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  @media screen {
    @media (max-width: 992px) {
      font-size: 26pxpx;
    }
    @media (max-width: 425px) {
      font-size: 25px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}

.typing-animation {
  animation: blinkCursor 500ms steps(50) infinite normal;
}

.letra-piscando {
  animation: typing 3s steps(50) 2s normal both; //stesp() são a quantidade de quadros que vai quebrar, isso faz o cursor parecer estar digitando
  animation-iteration-count: 2; //Quantas vezes repete
}

@keyframes typing {
  //efeito para mover o cursor
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes blinkCursor {
  //efeito piscar do cursor
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.bg-conteudo {
  background-color: rgb(247, 241, 241);
}

.title-h3 {
  color: #000;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb(181, 23, 23);
  text-transform: uppercase;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
  @media screen {
    @media (max-width: 425px) {
      font-size: 25px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}

.conteudo {
  text-align: justify;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  width: 1000px;
  padding: 15px;
  color: #000;
  margin-bottom: 50px;
  @media screen {
    @media (max-width: 1250px) {
      width: 80%;
    }
    @media (max-width: 645px) {
      width: 85%;
      font-size: 15px;
    }
    @media (max-width: 425px) {
      width: 90%;
      font-size: 15px;
    }
    @media (max-width: 320px) {
      width: 90%;
      font-size: 12px;
    }
  }
}
//card efeito vento
.cards-vento {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  background-color: #1a1717;
  perspective: 1000px;
  @media screen {
    @media (max-width: 1024px) {
      grid-template-columns: 33% 34% 33%;
      grid-auto-rows: minmax(100px, 1fr);
      grid-template-areas: "item-card1 item-card2 item-card3",
        "item-card4 item-card5 item-card6";
      gap: 8px;
    }
    @media (max-width: 595px) {
      grid-template-columns: 50% 50%;
      grid-auto-rows: minmax(100px, 1fr);
      grid-template-areas: "item-card1 item-card2", "item-card3 item-card4",
        "item-card5 item-card6";
      gap: 8px;
    }
    @media (max-width: 569px) {
      display: none;
    }
  }
}

.card-vento-2 {
  display: inline-flex;

  @media screen {
    @media (min-width: 569px) {
      display: none;
    }
    @media (max-width: 569px) {
      margin-left: 60px;
    }
    @media (max-width: 435px) {
      margin-left: 30px;
    }
    @media (max-width: 395px) {
      margin-left: 10px;
    }
    @media (max-width: 330px) {
      margin-left: -10px;
    }
  }
}

.card-vento-2 img {
  width: 50px;
  filter: drop-shadow(0px 0px 1px #4b4b50);
  animation: movimento 4s linear infinite;
}

@keyframes movimento {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-23px);
  }
}

.efeito-card-vento {
  background: rgb(247, 241, 241);
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  padding-top: 3rem;
  position: relative;
  transform-origin: top center;
  --rotate: 8deg; //Quantos graus fica levantado sem o hover
  transform: rotateX(var(--rotate)); //aplica os graus aqui
  transition: transform 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.efeito-card-vento:before {
  right: auto;
  left: 20px;
}

.efeito-card-vento:hover {
  transform: rotateX(-20deg);
}

.efeito-card-vento:after, // esses criam a bolinha vermelha do card
.efeito-card-vento:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: rgb(181, 23, 23);
  border: 1px solid #000;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  top: 15px;
  right: 20px;
  position: absolute;
  border-radius: 50%;
}

.efeito-card-vento img {
  //propriedades da imagem do card
  height: 80px;
  width: 100%;
  object-fit: contain;
}

img {
  max-width: 100%;
}

.efeito-card-vento p {
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
}

//fim card efeito vento

//inicio rede social

#section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "item-1 item-2";
  @media screen {
    @media (max-width: 768px) {
      margin-bottom: 40px;
      grid-template-columns: 100%;
      gap: 10px;
      grid-template-areas: "item-1" "item-2";
    }
  }
}

.size-icone-black {
  width: 50px;
  height: 50px;
  color: #000;
  @media screen {
    @media (max-width: 1024px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
    @media (max-width: 425px) {
      width: 28px;
      height: 28px;
    }
    @media (max-width: 320px) {
      width: 25px;
      height: 25px;
    }
  }
}

.link-social-media-index {
  text-decoration: none;
  font-size: 20px;
  @media screen {
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      font-size: 17px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
    }
    @media (max-width: 320px) {
      font-size: 15px;
    }
  }
}

.conteudo-redes-sociais {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 300px;
  padding: 15px;
  width: 350px;
  @media screen {
    @media (max-width: 1340px) {
      margin-left: 80px;
    }
    @media (max-width: 1024px) {
      width: 80%;
    }

    @media (max-width: 768px) {
      margin-left: 50px;
      width: 70%;
    }
    @media (max-width: 425px) {
      margin-left: 20px;
      width: 80%;
    }
  }
}
.text-socialMedia {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}

.social-media {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 180px;
  //abaixo efeito risco hover
  //para criar o efeito hover do risco
  margin-block: 2px;
  text-decoration: none;
  color: #000;
  position: relative;
  @media screen {
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    @media (max-width: 425px) {
      margin-bottom: 7px;
    }
    @media (max-width: 320px) {
      margin-bottom: 5px;
    }
  }
}
.social-media::after {
  //para criar o efeito hover do risco
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.social-media:hover::after {
  //para criar o efeito hover do risco
  transform: scaleX(1);
}

.social-media:hover {
  transform: scale(1.1);
}
//fim rede social
// card giratorio
.card__giratorio {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  @media screen {
    @media (max-width: 1200px) {
      width: 350px;
      height: 250px;
    }
    @media (max-width: 940px) {
      width: 300px;
      height: 200px;
    }
    @media (max-width: 768px) {
      margin-left: 120px;
    }
    @media (max-width: 560px) {
      margin-left: 100px;
    }
    @media (max-width: 445px) {
      margin-left: 50px;
      width: 200px;
      height: 150px;
    }
  }
}

.card__giratorio-conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card__giratorio:hover .card__giratorio-conteudo {
  transform: rotateY(180deg);
}

.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__giratorio-conteudo--frente {
  background: linear-gradient(-229deg, rgb(181, 23, 23), rgb(230, 212, 212));
  color: #000;
}

.card__giratorio-conteudo--traseira {
  background: linear-gradient(229deg, rgb(181, 23, 23), rgb(230, 212, 212));
  color: #fff;
  transform: rotateY(180deg);
}

.card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p,
.card__giratorio-conteudo--frente p {
  padding: 5px;
  margin: 0;
  color: #000;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @media screen {
    @media (max-width: 940px) {
      padding: 1px;
      font-size: 16px;
    }
    @media (max-width: 425px) {
      padding: 0;
      font-size: 14px;
    }
  }
}

.link-card {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: #000;
}

.card__giratorio-conteudo--traseira h1 {
  font-size: 1.7rem;
}

.logo {
  width: 80px;
  height: 80px;
  filter: drop-shadow(2px 2px 5px black);
  opacity: 0.9;
  @media screen {
    @media (max-width: 940px) {
      width: 70px;
      height: 70px;
    }
    @media (max-width: 425px) {
      width: 60px;
      height: 60px;
    }
  }
}

.mobile {
  @media screen {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

// fim card
